*{
  margin: 0px;
  padding: 0px;
}

:root {
  --dark-purple: #321c69;
  --light-blue: #c0d9f0;
  --medium-blue:  #0c8ced;
  --normal: #eb9ec0;
  --fire: #f82212;
  --water: #0b5394;
  --electric: #fbf96a;
  --grass: #38761d;
  --ice: #e5f0fa;
  --fighting: #9c241c;
  --poison: #00ff00;
  --ground: #744700;
  --flying: #beaeed;
  --psychic: #945dc8;
  --bug: #1b360d;
  --rock: #ce7e00;
  --ghost: white;
  --dragon: #f09c0b;
  --dark: black;
  --steel: #999999 ;
  --fairy: #c90076;
}

body{
  background-color: var(--dark-purple);
}

#title{
  color: var(--light-blue);
  text-align: center;
}

#stats-container{
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 10%;
}

#stat{
  color: var(--light-blue);
}

#container{
  text-align: center;
  position: relative;
}

#pokeball{
  text-align: center;
  width: 100%;
  margin-left: 5%;
}

#main-background{
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: var(--light-blue);
  position: absolute;
  top: 45%;
  left: 51%;
  transform: translate(-50%, -50%);
}

#input-label{
  color: var(--dark-purple);
  font-weight: bold;
}

#search-input{
  margin-top: 2%;
  height: 8%;
  width: 30%;
}

#search-button, #random-button{
  background-color: var(--medium-blue);
  color: white;
  height: 10%;
  width: 20%;
  border-radius: 15px;
  font-weight: bold;
}

#random-button{
  margin-left: 1%;
}

#name-ID{
  display: flex;
}

#pokemon-name{
  margin-left: 15%;
  font-weight: bold;
  color: var(--dark-purple);
}

#pokemon-id{
  margin-left: 5px;
  font-weight: bold;
  color: var(--dark-purple);
}

#weight-height{
  display: flex;
}

#weight{
  margin-left: 10%;
  color: var(--dark-purple);
}

#height{
  margin-left: 5px;
  color: var(--dark-purple);
}

#sprite{
  height: 45%;
}

#types{
  font-weight: bold;
  display: flex;
  margin-left: 20%;
}

.type{
  font-weight: normal;
  font-size: 13px;
  padding: 3% 6%;
  border-radius: 5%;
  margin-right: 5%;
}

.grass{
  background-color: var(--grass);
  color: white;
}

.poison{
  background-color: var(--poison);
}

.electric{
  background-color: var(--electric);
}

.fire{
  background-color: var(--fire);
  color: white;
}

.flying{
  background-color: var(--flying);
}

.water{
  background-color: var(--water);
  color: white;
}

.bug{
  background-color: var(--bug);
  color: white;
}

.normal{
  background-color: var(--normal);
}

.ground{
  background-color: var(--ground);
  color: white;
}

.fairy{
  background-color: var(--fairy);
  color: white;
}

.fighting{
  background-color: var(--fighting);
  color: white;
}

.psychic{
  background-color: var(--psychic);
  color: white;
}

.rock{
  background-color: var(--rock);
}

.ice{
  background-color: var(--ice);
}

.ghost{
  background-color: var(--ghost);
}

.steel{
  background-color: var(--steel);
}

.dragon{
  background-color: var(--dragon);
}

.dark{
  color: white;
  background-color: var(--dark);
}
